<div class="container">
<ul>
	{% if site.codepen %}
	<li>
		<a href="https://codepen.com/{{ site.codepen }}">
			<i data-icon="codepen"></i>
		</a>
	</li>
	{% endif %}
	{% if site.facebook %}
	<li>
		<a href="https://facebook.com/{{ site.facebook }}">
			<i data-icon="facebook"></i>
		</a>
	</li>
	{% endif %}
	{% if site.github %}
	<li>
		<a href="https://github.com/{{ site.github }}">
			<i data-icon="github"></i>
		</a>
	</li>
	{% endif %}
	{% if site.instagram %}
	<li>
		<a href="https://instagram.com/{{ site.instagram }}">
			<i data-icon="instagram"></i>
		</a>
	</li>
	{% endif %}
	{% if site.twitter %}
	<li>
		<a href="https://twitter.com/{{ site.twitter }}">
			<i data-icon="twitter"></i>
		</a>
	</li>
	{% endif %}
	{% if site.youtube %}
	<li>
		<a href="https://youtube.com/{{ site.youtube }}">
			<i data-icon="youtube"></i>
		</a>
	</li>
	{% endif %}
</ul>
</div>
